.primary {
  text-align: center;
  padding: 4%
}

.productSelectionPage {
  text-align: center;
  padding: 3%;
  background: aqua;
  color: black
}

.carousel {
  text-align: center;
  padding: 3%;
  background: aqua;
  color: black
}

.cart {
  text-align: left;
  padding: 2%
}

.addToCart {
  padding: 2%
} 

.cartDisplay {
  padding: 2%
}