.primary {
  text-align: center;
  padding: 4%
}

.productSelectionPage {
  text-align: center;
  padding: 3%;
  background:black;
  color: aquamarine
}

.carousel {
  text-align: center;
  padding: 3%;
  background: blue;
  color: red
}

.cart {
  text-align: left;
  padding: 2%
}

.addToCart {
  padding: 2%;
} 

.cartDisplay {
  padding: 2%
}

.numberOfItemsInput {
  width: 35%;
}