
html {
  background: "https://doc-0c-44-docs.googleusercontent.com/docs/securesc/4ulrouemhgojv70t3u6ramukj8d10iba/t86le0uhs4gs7ia9n8gdn6lhaldud4uf/1569780000000/02903672740124267563/02903672740124267563/13Tbxoj44AL2jOgwyOZaN0Qn9D_SJUzrS?e=view";
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 1%;
}

.productSelectionPage {
  text-align: center;
  padding: 3%;
  color: aquamarine;
  height: auto 100%;
  background: black; 
  background-size: contain;
}

.carousel {
  text-align: center;
  position: relative;
  padding: 3%;
}

.addToCart {
  padding: 2%;
  text-align: center;
} 

.numberOfItemsInput {
  width: 25%;
}

.round{
  border-bottom-right-radius:5px;
  border-bottom-left-radius:5px;
  -moz-border-radius-bottomright:5px;
  -moz-border-radius-bottomleft:5px;
  -webkit-border-bottom-right-radius:5px;
  -webkit-border-bottom-left-radius:5px;
  -moz-border-radius-topright:5px;
  -moz-border-radius-topleft:5px;
  -webkit-border-top-right-radius:5px;
  -webkit-border-top-left-radius:5px;
  border-top-right-radius:5px;
  border-top-left-radius:5px;
}

.emptyCart {
  position: relative;
  text-align: center
}

.checkOut {
  padding: 5%;
  color:black
  }

.cartSummary {
  color: black;
  text-align: center
}